<div  class="wrapper">
    
    <!-- <div class="localWeather" *ngIf="userLocationData">
        <h1>Location: {{userLocationData.name}}</h1>
        <img src="https://openweathermap.org/img/wn/{{userLocationData.weather[0].icon}}@2x.png">
        <p *ngIf="userLocationData.clouds.all">Clouds: {{userLocationData.clouds.all}}%</p>
        <p *ngIf="userLocationData.main.temp">Temperature: {{convertKtoF(userLocationData.main.temp)}} F</p>
        <p *ngIf="userLocationData.main.temp_max">Max Temperature: {{convertKtoF(userLocationData.main.temp_max)}} F</p>
        <p *ngIf="userLocationData.main.temp_min">Min Temperature: {{convertKtoF(userLocationData.main.temp_min)}} F</p>
        <p *ngIf="userLocationData.sys.sunrise">Sunrise: {{convertTimeStampToDate(userLocationData.sys.sunrise)}}</p>
        <p *ngIf="userLocationData.sys.sunset">Sunset: {{convertTimeStampToDate(userLocationData.sys.sunset)}}</p>
    </div> -->
</div>

<mat-card style="width: 25%; margin-top: 0%; float: right; left: -1%;">   
    <strong style="float: right; font-size:20px">Current closest Location</strong> 
    <mat-card-title style="background:rgba(0,0,0,.06); 
        padding:20px 20px;">
        Location: {{userLocationData.name}} 
        <p *ngIf="!userLocationData && !errorMessage">Location is loading. Please wait!</p>
    </mat-card-title>
    <mat-card-content style="padding:1em;">
        <img src="https://openweathermap.org/img/wn/{{userLocationData.weather[0].icon}}@2x.png">
        <div style = "float: left;">
        <p *ngIf="userLocationData.clouds.all">Clouds: {{userLocationData.clouds.all}}%</p>
        <p *ngIf="userLocationData.main.temp">Temperature: {{convertKtoF(userLocationData.main.temp)}} F</p>
        <p *ngIf="userLocationData.main.temp_max">Max Temperature: {{convertKtoF(userLocationData.main.temp_max)}} F</p>
        <p *ngIf="userLocationData.main.temp_min">Min Temperature: {{convertKtoF(userLocationData.main.temp_min)}} F</p>
        <p *ngIf="userLocationData.sys.sunrise">Sunrise: {{convertTimeStampToDate(userLocationData.sys.sunrise)}}</p>
        <p *ngIf="userLocationData.sys.sunset">Sunset: {{convertTimeStampToDate(userLocationData.sys.sunset)}}</p>    
    
        </div>
        </mat-card-content>
  </mat-card>

<div class="localWeather" *ngIf="errorMessage">
<p>{{errorMessage}}</p>
</div>