<!-- <app-circular></app-circular> -->
<nb-card status="success">
    <nb-card-header>{{displayStateNameOnCardHeader}}</nb-card-header>
    <nb-card-body>
            <nb-layout>
                        <nb-layout-column class="success">
                            <div [@popOverState]="stateName">
                                <svg  id="us-map-states" width="960" height="600" style="margin-left: 0%; margin-top: 0%;">
                                </svg>
                        </div></nb-layout-column>
                        <nb-layout-column class="colored-column-danger">
                                <div *ngIf="citiesShow" id="chart" class="chart"></div>
                        </nb-layout-column>
            </nb-layout>
                
    </nb-card-body>
    <nb-card-footer>US MAP</nb-card-footer>
</nb-card>

<mat-card style="width: 25%; margin-top: -18%; float: right; left: -1%;" *ngIf="isClicked">

    <mat-card-title id="clicked-location" style="background:rgba(0,0,0,.06); padding:19px 19px;">
        <p *ngIf="!userLocationData && !errorMessage"><p [innerHTML]="stateTemp">{{stateTemp}}</p>
    </mat-card-title>
    <mat-card-content style="padding:1em;">
        <img src="https://openweathermap.org/img/wn/{{apiValue.weather[0].icon}}@2x.png">
        <p style="float: left" [innerHTML]="allTempData">{{allTempData}}</p>
    </mat-card-content>
</mat-card>


  